<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <base href="http://otherinbox.github.io/rpusesthis/"> -->
    <title><%= current_page.data.title || "RP Uses This" %></title>
    <%= stylesheet_link_tag "styles.min" %>
    <%= javascript_include_tag  "scripts.min" %>
    <script type="text/javascript" src="//use.typekit.net/gng5nqs.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>
  <body class="<%= page_classes %>">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header class="header">
      <div class="wrap">
        <%= link_to "RP Uses This", "index.html", :class => "brand" %>
        <ul class="nav nav-pills nav-main">
          <li><%= link_to "Home", "index.html" %></li>
          <li><%= link_to "About", "about.html" %></li>
        </ul>
      </div>
    </header>

    <div class="wrap">
      <main class="content">
        <h1><%= current_page.data.title %></h1>
        <%= yield %>
      </main>
    </div>

    <footer class="footer">
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    </footer>
  </body>
</html>
