---
pageable: true
per_page: 3
---
<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% page_articles.each_with_index do |article, i| %>
  <article class="article <%= slugify(article.title) %>">
    <header class="article-header">
      <a href="<%= url_for article %>" title="">
        <%= image_tag slugify(article.title) + ".jpg", :class => "avatar img-circle" %>
        <h3 class="name"><%= article.title %></h3>
        <time><%= article.date.strftime('%b %e') %></time>
      </a>
    </header>
    <main class="article-body">
      <%= article.summary %>
      <%= link_to 'Read more…', article %>
    </main>
  </article>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
